@import './shared/mixins.scss';
.section1 {
    align-items: center;
    justify-content: center;
    background-color: #F8F3F3;
    padding: 50px;
    text-align: center;
    h1 {
        font-size: 50px;
        margin: 0 auto;
        width: 50%;
    }
    article {
        margin: 0 auto;
        width: 30%;
    }
    &__buttons {
        padding: 20px;
        .b1 {
            background-color: #FB3E44;
            border: none;
            color: white;
            height: 40px;
            width: 150px;
            margin-right: 40px;
            box-shadow: 7px 5px #FAD0D2;
        }
        .b2 {
            border: none;
            height: 40px;
            width: 150px;
            color: black;
            background-color: white;
        }
    }
}

.section2 {
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    img {
        height: 180px;
        width: 180px;
        margin-bottom: 20px;
    }
    mark {
        background-color: #FFEBB5;
        padding: 0 20px;
        transform: scale(1.0001);
    }
    p {
        margin: 0 auto;
        width: 40%;
        font-size: 12px;
    }
}

.section3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    margin: 50px;
    img {
        height: 30px;
        width: 30px;
    }
    h5 {
        color: #F03F42
    }
    p {
        margin: 20px 0px;
        width: 100%;
    }
    &__card1,
    &__card2,
    &__card3,
    &__card4 {
        width: 250px;
    }
}