@import './shared/mixins.scss';
.footer {
    align-items: center;
    padding-bottom: 50px;
    text-align: center;
    button {
        background-color: black;
        color: white;
        height: 40px;
        width: 300px;
        box-shadow: 7px 5px #E7DFD6;
    }
}